.section_1{
width: 400px;
height: 500px;
margin-top: 50px;
background-color: #219dbc;
padding: 20px;
color: aliceblue;
border-radius: 7px;
border: 3px solid #023047;
transition: 3s;
}
.section_1:hover{
    background-color: #1f6487;
border: #219dbc 1px solid;
}
.section_3_4{
    display: flex; 
    justify-content: space-between;  
}
.section_1_2{
    display: flex; 
    justify-content: space-between;    
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
input{
    border: none;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
}
.button{
    border: none;
    background-color: #023047;
    color: aliceblue;
    border-radius: 3px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .alluad{
    margin-top: 100px;
  }